<link rel="stylesheet" href="../components/componente-topbar/componente-topbar.css" />
<div class="topo">
    <div class="logo"><img src="../media/dollar-icon.svg"></div>
    <div class=title><a href="index.html">Poupançudos</a><i class="bi bi-1-circle"></i></div>
    <div class="menu-topo">
        <div class="menu">
            <ul>
                <li><a href="../paginas/conheca.html">Conheça</a></li>
                <li><a href="../paginas/ajuda.html">Central de Ajuda</a></li>
                <li class="gastos"><a href="../paginas/gastos.html">Gastos</a></li>
            </ul>
        </div>
        <div class="login">
            <div class="user-logado"></div>
            <div class="menu-user">
                <ul>
                    <li><button id=sair>Sair</button></li>
                    <li class=disabled>Em Breve...</li>
                    <li class="disabled"d>Em Breve...</li>

                </ul>
            </div>
            <a class=login-site href="../paginas/login.html"> Entrar</a>
        </div>
    </div>
</div>
<script src="/components/componente-topbar/componente-topbar.js"></script>